/* Default Text Styles */
span,form,input,button,body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond';
}

h1 {
  font-size: 3vw;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.8vw;
}

h3 {
  font-size: 1.8vw;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.2vw;
  padding: 0;
  margin: 0;
}

/* Default Button Style  */
button {
  font-size: 1.2vw;
}

/* Default Input Styles */
input:focus {
  border: 0;
  outline: none;
}

::placeholder { 
  color: lightgray;
  opacity: 0.8; 
  font-weight: 300;
}

input[type=text] {
  max-width: 24em;
  width: 100% !important;
  height: auto;
  border-radius: 4px;
  padding: 1em 2em 1em 2em;
  text-align: left;
  font-size: 1.4vw;
  margin: 1em;
  border: 1px solid #D7CCCC;
  color: #08081A;
}
